<?xml version="1.0" encoding="UTF-8"?>

<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="routeId">
        <from uri="activemq:yourQueuee=true&amp;destination.consumer.prefetchSize=50"/>
        <to uri="kafka://localhost:9092?topic=customtopic&amp;brokers=localhost:9092" />
    </route>
</routes>

